@import './../../variables';

.goBack-container{
    color: $txt-color--primary;
    font-size: 1.4rem;
    cursor: pointer;
    display: inline;

    &:hover{
        color: rgb(110, 110, 110);
    }
}