@import './../../variables';

.card{
    height: 29rem;
    border: none;
    position: relative;
    cursor: pointer;

    &:hover .backface {
        opacity: 1;
    }
    &:hover .card-img-top {
        filter: grayscale(100%);
    }

    .identifier {
        top: .6rem;
        left: .6rem;
        background-color: #ffc107;
    }
    .card-img-top{
        height: 100%;
        cursor: pointer;
        object-fit: cover;
        border-radius: $border-radius;
        transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) all 170ms;
    }
    .backface {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: $border-radius;
        opacity: 0;
        position: absolute;
        transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) all 900ms;

        .seeMore-btn {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}