.avatar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .avatar-img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
    .name{
        color: #fff;
        font-size: 1.3rem;
        margin-top: .5rem;
        letter-spacing: 1px;
    }
}