// Variables

$txt-color--primary: #f9f9f9;
$txt-shadow: 2px 4px 5px #000000;
$bg-color--primary: #000000;
$border-radius: .25rem;
$bg-color-blur--primary: rgba(0, 0, 0, .75); 
$bg-color-bulr--secondary: rgba(255,255,255, .75);
$box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;