.btn{
    width: auto;
    line-height: unset;
    box-sizing: border-box;

    &:active{
        box-shadow: none;
    }
    &:focus{
        box-shadow: none;
    }
}
.btn-ligth{
    &:active{
        box-shadow: none;
        border-color: unset;
        background-color: unset;
    }
    &:focus{
        box-shadow: none;
    }
}
.count{
    color: #fff;
    font-size: 1.5rem;
}
.pokemon-data{
    .name{
        color: #fff;
    }
}